<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Sono la home page del sito in PYTHON</h1>

    <div>
        <label for="">Ciao</label>
    </div>

    <table>
        <tr>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
        </tr>
        <tr>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
        </tr>
        <tr>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
        </tr>
        <tr>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
            <td><a href="">Sito ufficiale di:</a></td>
        </tr>
    </table>

    <label for=""></label><input type="number">

    <ol>
        <li>Città di:Milano</li>
        <li>Città di:Roma</li>
        <li>Città di:Palermo</li>
    </ol>

</body>

</html>